{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-start">
            <div class="col-12 text-center mt-5">
                <h1 class="display-4 logo-font text-white">
                    Prepare to be enchanted by our Handcrafted Beauties!
                </h1>
                <div class="mt-4">
                    <h4>
                        <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Shop Now</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer_class %}
    fixed-footer
{% endblock %}