{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'user_profile/css/profile.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4">{{ user.username }}</h2>
                <hr>
            </div>
        </div>
        {% if default_address %}
        <h2>Default Delivery Address</h2>
        <div class="card">
            <p>Full Name: <b>{{ default_address.full_name }}</b></p>
            <p>Phone Number: <b>{{ default_address.phone_number }}</b></p>
            <p>Street Address1: <b>{{ default_address.street_address1 }}</b></p>
            <p>Street Address2: <b>{{ default_address.street_address2 }}</b></p>
            <p>Town or City: <b>{{ default_address.town_or_city }}</b></p>
            <p>County: <b>{{ default_address.county }}</b></p>
            <p>Postcode: <b>{{ default_address.postcode }}</b></p>
            <p>Country: <b>{{ default_address.country }}</b></p>
        </div>
        {% else %}
        <p>No default delivery address set.</p>
        {% endif %}
        <hr>

        <button class="btn btn-primary mb-3" type="button" id="toggle-addresses-btn">Show All Addresses</button>
        <div id="addresses-container" class="collapsible-content" style="display: none;">
            {% for address in addresses %}
            <div class="address-card">
                <p><strong><u>Full Name:</u> {{ address.full_name }}</strong></p>
                <p><strong><u>Street Address1:</u> {{ address.street_address1 }}</strong></p>
                <p><strong><u>Street Address2:</u> {{ address.street_address2 }}</strong></p>
                <p><strong><u>Phone Number:</u> {{ address.phone_number }}</strong></p>
                <p><strong><u>Town or City:</u> {{ address.town_or_city }}</strong></p>
                <p><strong><u>County:</u> {{ address.county }}</strong></p>
                <p><strong><u>Postcode:</u> {{ address.postcode }}</strong></p>
                <p><strong><u>Country:</u> {{ address.country }}</strong></p>
                <a href="{% url 'edit_address' address.id %}" class="btn btn-secondary">Edit</a>
                <form method="POST" action="{% url 'set_default_address' address.id %}">
                    {% csrf_token %}
                    <input type="hidden" name="set_as_default" value="True">
                    <button type="submit" class="btn btn-secondary">
                        {% if address.set_as_default %}Default Address{% else %}Set as Default{% endif %}
                    </button>
                </form>
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deletePostModal{{ address.id }}">Delete</button>

                <!-- Delete Address Modal -->
                <div class="modal fade" id="deletePostModal{{ address.id }}" tabindex="-1" aria-labelledby="deletePostModalLabel{{ address.id }}" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="deletePostModalLabel{{ address.id }}">Delete Address</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Are you sure you want to delete this address?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                <form action="{% url 'delete_address' address.id %}" method="post">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <hr>
        <a href="{% url 'add_address' %}" class="btn add-address-btn mb-3">Add New Address</a>

        <!-- Order History -->
        <div class="col-12 col-lg-6">
            <p class="text-muted">Order History</p>
            <div class="order-history table-responsive">
                <table class="table table-sm table-borderless">
                    <thead>
                        <tr>
                            <th>Order Number</th>
                            <th>Date</th>
                            <th>Items</th>
                            <th>Order Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in orders %}
                            <tr>
                                <td>
                                    <a href="{% url 'order_history' order.order_number %}"
                                    title="{{ order.order_number }}">
                                        {{ order.order_number|truncatechars:6 }}
                                    </a>
                                </td>
                                <td>{{ order.date }}</td>
                                <td>
                                    <ul class="list-unstyled">
                                        {% for item in order.lineitems.all %}
                                            <li class="small">
                                                {% if item.product.has_sizes %}
                                                    Size {{ item.product.size|upper }}
                                                {% endif %}{{ item.product.name }} x{{ item.quantity }}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </td>
                                <td>${{ order.grand_total }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <ul>
            {% for item in wishlist %}
                <li>{{ item.product.name }} - <a href="{% url 'product_detail' item.product.id %}">View Product</a></li>
            {% endfor %}
        </ul>
        <div class="row">
            <div class="col">
                <a href="{% url 'user_reviews' %}" class="btn btn-primary">View Your Reviews</a>
            </div>
        </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'user_profile/js/countryfield.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#id_default_country').select2({
                width: '100%',
                placeholder: 'Select a country',
                allowClear: true
            });

            $('#toggle-addresses-btn').click(function() {
                var addressesContainer = $('#addresses-container');
                addressesContainer.toggle();
                if (addressesContainer.is(':visible')) {
                    $(this).text('Hide All Addresses');
                } else {
                    $(this).text('Show All Addresses');
                }
            });
        });
    </script>
{% endblock %}