{% load custom_filters %}

{% for rating in reviews %}
<div class="review">
    <strong>{{ rating.user.username }}</strong> - 
    {% for _ in rating.rating|get_star_range %}
        &#9733; <!-- Full Star -->
    {% endfor %}
    {% for _ in rating.rating|get_empty_stars %}
        &#9734; <!-- Empty Star -->
    {% endfor %}
    {% if rating.review %}
        <p>{{ rating.review }}</p>
    {% endif %}
    {% if rating.user == request.user %}
        <button type="button" class="btn btn-sm btn-warning edit-review-btn"
                data-toggle="modal" data-target="#reviewModal"
                data-review-id="{{ rating.id }}" data-product-id="{{ product.id }}">Edit</button>
        <button type="button" class="btn btn-sm btn-danger delete-review-btn"
                data-toggle="modal" data-target="#deleteReviewModal"
                data-review-id="{{ rating.id }}">Delete</button>
    {% endif %}
</div>
{% endfor %}

{% include 'includes/review_modals.html' %}