{% load static %}
{% load custom_filters %}

{% for rating in reviews %}
<div class="review">
    <strong>{{ rating.user.username }}</strong> - 
    {% for _ in rating.rating|get_star_range %}
        &#9733; <!-- Full Star -->
    {% endfor %}
    {% for _ in rating.rating|get_empty_stars %}
        &#9734; <!-- Empty Star -->
    {% endfor %}
    {% if rating.review %}
        <p>{{ rating.review }}</p>
    {% endif %}
    {% if rating.user == request.user %}
        <button type="button" class="btn btn-sm btn-warning edit-review-btn"
                data-toggle="modal" data-target="#reviewModal"
                data-review-id="{{ rating.id }}" data-product-id="{{ product.id }}"><i class="fa-solid fa-pen-to-square"></i></button>
        <button type="button" class="btn btn-sm btn-danger delete-review-btn"
                data-toggle="modal" data-target="#deleteReviewModal"
                data-review-id="{{ rating.id }}"><i class="fa-solid fa-trash"></i></button>
    {% endif %}
</div>
{% endfor %}

<div class="modal fade" id="editReviewModal" tabindex="-1" role="dialog" aria-labelledby="editReviewModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form id="editReviewForm" method="post">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="editReviewModalLabel">Edit Review</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="rating">Rating</label>
                        <input type="number" name="rating" class="form-control" min="1" max="5" required>
                    </div>
                    <div class="form-group">
                        <label for="review">Review</label>
                        <textarea name="review" class="form-control" rows="4" required></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteReviewModal" tabindex="-1" role="dialog" aria-labelledby="deleteReviewModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form id="deleteReviewForm" method="post" action="#">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteReviewModalLabel">Delete Review</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete this review?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% block postloadjs %}
<script src="{% static 'js/review.js' %}"></script>
<script nonce="{{ request.csp_nonce }}">
    $(document).ready(function() {
        $('.delete-review-btn').click(function() {
            let reviewId = $(this).data('review-id');
            let productId = "{{ product.id }}";
            
            let actionUrl = '{% url "delete_review" product_id=0 review_id=0 %}'.replace('0', productId).replace('0', reviewId);


            $('#deleteReviewForm').attr('action', actionUrl);
        });
    });
</script>
{% endblock %}