html {
    height: 100%;
}

body {
    background: url('/media/pexels-cottonbro-5095886.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #141516;
    font-family: "Open Sans", sans-serif;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.header-container {
    padding: 10px;
}

.container.h-100 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    float: right;
}

h1.display-4 {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.mt-4 {
    margin-top: 2rem;
}

.container-fluid {
    background-color: #D07C3F;
}

.logo-font {
    text-transform: uppercase;
    align-items: center;
}

.display-4.logo-font.text-white {
    font-size: 2.5rem;
    font-weight: 700;
}

.my-5 {
    margin: 20px 0;
}

#delivery-banner {
    background-color: #FFA500;
}

.main-logo-link {
    width: fit-content;
}

.navbar {
    background-color: #003366;
    border-bottom: 2px solid #D07C3F;
}

.navbar-nav .nav-item .nav-link {
    color: white !important;
    font-size: 1rem;
    padding: 0.75rem 1rem;
}

.navbar-nav .nav-item .nav-link:hover {
    background-color: #D07C3F;
    color: white !important;
}

.dropdown-menu {
    background-color: #444;
}

.dropdown-item {
    color: white;
}

.dropdown-item:hover {
    background-color: #D07C3F;
    color: white;
}

.shop-now-button {
    background: #003366;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 1.2rem;
    transition: 0.3s, color 0.3s;
    box-shadow: 0 4px 6px rgba(0,0,0.1)
    /* min-width: 260px; */   /*MODIFIED*/
}

.btn-black {
    background: #003366;
    color: white;
}

.btn-outline-black {
    background: white;
    color: black !important;
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: #D07C3F;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.bg-black {
    background: #000 !important;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: #D07C3F;
	z-index: -1;
}

a.category-badge > span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

p {
    color: black;
}

.text-faded-black {
    color: rgba(0, 0, 0, 0.5);
}

input[name='q']::placeholder {
    color: #141516;
}

/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #141516; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #141516;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
	color: #17a2b8; /* text-info */
}

/* Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

.wishlist-icon {
    position: relative;
    display: inline-block;
    font-size: 1.2rem;
}

.wishlist-count {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: red;
    color: white;
    font-size: 12px;
    padding: 2px 5px;
    border-radius: 50%;
}

.show-addresses-btn,
.add-address-btn {
    background-color: #003366;
    color: white;
}

.delivery-info-btn {
    background-color: #003366;
    color: white;
    font-size: 2rem;
    /*width: 39vw;
    height: auto;*/
}

.button-container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.address-card {
    background-color: white;
    color: black;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 10px;
}
.collapsible-content {
    display: none;
}

.rating-stars {
    direction: ltr;
    display: inline-block;
}

.rating-stars input[type="radio"] {
    display: none;
}

.rating-stars label {
    cursor: pointer;
    color: #ccc;
    font-size: 2rem;
    transition: color 0.2s ease-in-out;
}

.rating-stars label:before {
    content: '\2605'; /* Unicode character for star */
}

.rating-stars label:hover,
.rating-stars label:hover ~ label {
    color: #ffcc00;
}

.rating-stars input[type="radio"]:checked ~ label {
    color: #ffcc00;
}

.footer, .fixed-footer, .relative-footer {
    width: 100%;
    background-color: #003366;
    padding: 1rem;
    margin-top: 15rem;
}

.footer {
    position: relative;
    margin-top: 20rem;
}

.fixed-footer {
    position: fixed;
    bottom: 0;
}

.relative-footer {
    position: fixed;
    margin-bottom: 0;
}

.card-body {
    max-height: 250px;
    overflow-y: auto;
    margin-bottom: 40px;
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }

    .display-4.logo-font.text-black {
        font-size: 2rem;
    }

    .shop-now-button {
        padding: 12px 24px;
    }

    .nav-link {
        padding: 0.15rem;
    }

    .nav-link i.fa-lg {
        font-size: 1rem;
    }

    .navbar-toggler {
        padding: .6rem .6rem;
        font-size: 1rem;
    }

    #delivery-banner h4 {
        font-size: .9rem;
    }

    .btn.btn-outline-black.rounded-0,
    .btn.btn-black.rounded-0 {
        padding: .375rem .375rem;
    }

    .btn.btn-outline-black.rounded-0.btn-lg,
    .btn.btn-black.rounded-0.btn-lg {
        padding: .375rem .375rem;
        font-size: .75rem;
    }

    .increment-qty, .decrement-qty {
        padding: .25rem .5rem !important;
    }
}

/*@media only screen and (width: 640px) and (height: 360px) {
    .scrollable-container {
      max-height: 400px;
      overflow: auto;
      margin-bottom: 40px;
    }
  }*/

/*@media (max-width: 540px) {
    .address-container {
        max-height: 400px;
        overflow-y: auto;
        margin-bottom: 40px;
      }
}

@media only screen and (width: 1024px) and (height: 600px) {
    .address-container {
        max-height: 200px;
        overflow-y: auto;
        margin-bottom: 40px;
      }
}

@media only screen and (width: 1280px) and (height: 800px) {
    .address-container {
        max-height: 400px;
        overflow-y: auto;
        margin-bottom: 40px;
      }
}

@media only screen and (width: 360px) and (height: 640px) {
    .address-container {
        max-height: 300px;
        overflow-y: auto;
        margin-bottom: 40px;
      }
}

@media only screen and (width: 320px) and (height: 658px) {
    .address-container {
        max-height: 300px;
        overflow-y: auto;
        margin-bottom: 40px;
      }
}

@media only screen and (width: 384px) and (height: 640px) {
    .address-container {
        max-height: 300px;
        overflow-y: auto;
        margin-bottom: 40px;
      }
}

@media only screen and (width: 640px) and (height: 360px) {

    .address-container {
        max-height: 60px;
        overflow-y: auto;
        margin-bottom: 40px;
      }
}

@media only screen and (device-width: 360px) and (device-width: 360px) and (device-height: 640px) and (device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
    .address-container {
        max-height: 240px;
        overflow-y: auto;
        margin-bottom: 40px;
    }
}

@media only screen and (device-width: 412px) and (device-width: 412px) and (device-height: 732px) and (device-height: 732px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2.625) {
    .address-container {
        max-height: 300px;
        overflow-y: auto;
        margin-bottom: 40px;
    }
}

@media only screen and (width: 600px) and (height: 960px) {

    .address-container {
        max-height: 600px;
        overflow-y: auto;
        margin-bottom: 40px;
      }
}

@media only screen and (width: 320px) and (height: 533px) {

    .address-container {
        max-height: 170px;
        overflow-y: auto;
        margin-bottom: 40px;
      }
}

@media only screen and (width: 375px) and (height: 667px) {

    .address-container {
        max-height: 340px;
        overflow-y: auto;
        margin-bottom: 40px;
      }
}

@media only screen and (width: 414px) and (height: 896px) {

    .address-container {
        max-height: 500px;
        overflow-y: auto;
        margin-bottom: 40px;
      }
}

@media only screen and (width: 430px) and (height: 932px) {

    .address-container {
        max-height: 590px;
        overflow-y: auto;
        margin-bottom: 40px;
      }
}

@media only screen and (width: 768px) and (height: 1024px) {

    .address-container {
        max-height: 645px;
        overflow-y: auto;
        margin-bottom: 40px;
      }
}

@media only screen and (width: 820px) and (height: 1180px) {

    .address-container {
        max-height: 900px;
        overflow-y: auto;
        margin-bottom: 40px;
      }
}

@media only screen and (width: 912px) and (height: 1368px) {

    .address-container {
        max-height: 900px;
        overflow-y: auto;
        margin-bottom: 40px;
      }
}

@media only screen and (width: 540px) and (height: 720px) {

    .address-container {
        max-height: 390px;
        overflow-y: auto;
        margin-bottom: 40px;
      }
}

@media only screen and (width: 344px) and (height: 882px) {

    .address-container {
        max-height: 500px;
        overflow-y: auto;
        margin-bottom: 40px;
      }
}

@media only screen and (width: 853px) and (height: 1280px) {

    .address-container {
        max-height: 1000px;
        overflow-y: auto;
        margin-bottom: 40px;
      }
}*/