{% extends "base.html" %}
{% load static %}
{% load custom_filters %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}


{% block content %}
<div class="container">
    <h2>Rate Product: {{ product.name }}</h2>

    <form id="rating-form" method="post" action="{% url 'rate_product' product.id %}">
        {% csrf_token %}
        
        {% if form.errors %}
            <ul>
                {% for error in form.non_field_errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        
        {{ form|crispy }}
        
        <button type="submit" class="btn btn-primary mt-3">Submit Review</button>
    </form>

    <!-- Customer Reviews Section -->
    <div id="customerReviews" class="mt-4">
        <h3>Customer Reviews:</h3>
        {% include 'products/includes/reviews_list.html' with reviews=reviews %}
    </div>
</div>
{% endblock %}